<ion-header>
  <ion-toolbar>
    <ion-title>Personajes de Rick and Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let character of characters">
      <ion-avatar slot="start">
        <img [src]="character.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ character.name }}</h2>
        <p>{{ character.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="nextPage()">Siguiente Página</ion-button>
</ion-content>
